search_spaces/nas_bench_101/.ipynb_checkpoints/
search_spaces/nas_bench_201/.ipynb_checkpoints/
search_spaces/nas_bench_201/__pycache__/NASBench201Network.cpython-311.pyc
search_spaces/nas_bench_201/cell
search_spaces/nas_bench_201/cell.pdf
search_spaces/nas_bench_301/.ipynb_checkpoints/
search_spaces/nas_bench_301/NASBench301MCTS.ipynb
search_spaces/nas_bench_301/NASBench301_explore.ipynb
search_spaces/nas_bench_301/__pycache__/
search_spaces/nas_bench_301/cell
search_spaces/nas_bench_301/cell.pdf
search_spaces/nas_bench_301/nasbench301_models_v1.0/
search_spaces/nas_bench_301/normal_cell
search_spaces/nas_bench_301/normal_cell.pdf
search_spaces/nas_bench_301/reduction_cell
search_spaces/nas_bench_301/reduction_cell.pdf
search_spaces/nas_bench_301/surrogate_model.model
search_spaces/nats_bench_dataset/.ipynb_checkpoints/
search_spaces/nats_bench_dataset/NATS-sss-v1_0-50262-simple.tar
search_spaces/nats_bench_dataset/NATS-sss-v1_0-50262-simple/
search_spaces/nats_bench_dataset/NATS-tss-v1_0-3ffb9-simple.tar
search_spaces/nats_bench_dataset/NATS-tss-v1_0-3ffb9-simple/
search_spaces/nats_bench_dataset/NATSBenchMCTS.ipynb
search_spaces/nats_bench_dataset/__pycache__/
search_spaces/nats_bench_dataset/nats_bench_size.csv
ntk/__pycache__/compute_score.cpython-311.pyc
ntk/__pycache__/naswot.cpython-311.pyc
figures/
.idea/
MCTS/__pycache__/nested.cpython-311.pyc
search_spaces/nas_bench_201/__pycache__/NASBench201RandomSearch.cpython-311.pyc
search_spaces/nas_bench_201/__pycache__/NASBench201RegEvo.cpython-311.pyc
search_spaces/nas_bench_101/__pycache__/NASBench101RegEvo.cpython-311.pyc
*.pyc
API/NAS-Bench-201-v1_1-096897.pth
API/NATS-tss-v1_0-3ffb9.pickle.pbz2
API/nb_models
API/*
